<app-header></app-header>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card rounded-0">
                        <img class="card-img-top" src="https://image.shutterstock.com/image-photo/modern-hospital-style-building-260nw-212251981.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Nairobi Hospital</h5>
                            <p class="card-text text-center">This is a wider card</p>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <button class="btn btn-info rounded-0">Show Available Tests</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card rounded-0">
                        <img class="card-img-top" src="https://image.shutterstock.com/image-photo/modern-hospital-style-building-260nw-212251981.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Nairobi Hospital</h5>
                            <p class="card-text text-center">This is a wider card</p>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <button class="btn btn-info rounded-0">Show Available Tests</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card rounded-0">
                        <img class="card-img-top" src="https://image.shutterstock.com/image-photo/modern-hospital-style-building-260nw-212251981.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Nairobi Hospital</h5>
                            <p class="card-text text-center">This is a wider card</p>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <button class="btn btn-info rounded-0">Show Available Tests</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>